.main_all_projects {
  background-image: url(../img/images/background_popular.png);
  background-size: cover;
}
.main_all_projects h1 {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 75px;
}
.main_all_projects h2 {
  color: #8b8b8b;
  font-family: "Segoe UI";
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.main_all_projects .kategory_of_popular {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding: 10px 0;
  height: 40px;
  margin-top: 20px;
  color: #343434;
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 700;
}
.main_all_projects .border_bottom_only {
  border-top: none !important;
}
.main_all_projects .border_top_only {
  border-bottom: none !important;
}
.main_all_projects .popular_element {
  height: 495px;
  margin-bottom: 15px;
  margin-top: 25px;
  border-top: 10px solid #121212;
  border-radius: 0;
}
.main_all_projects .popular_element .img_shadow {
  padding-top: 4px;
}
.main_all_projects .popular_element .caption h3 {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  margin-top: 5px;
}
.main_all_projects .popular_element .caption p {
  color: #444444;
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
}
.main_all_projects .popular_element .caption p a {
  color: #0b83a6;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}
.main_all_projects .popular_element .caption p span {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 700;
}
.main_all_projects .popular_element .caption p i {
  font-size: 25px;
  margin-right: 10px;
}
.main_all_projects .popular_element .caption .progres_bar_menu {
  border: 1px solid #f9f9f9;
  background-color: #fefefe;
  padding: 0 5px;
  width: 100%;
}
.main_all_projects .popular_element .caption .progres_bar_menu .linear_gradient {
  height: 32px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75), inset 0 1px 2px #ffffff;
  background-color: rgba(235, 235, 235, 0);
  background-image: linear-gradient(to top, #c41f0c 0%, #930f00 100%);
  padding-top: 3%;
  text-align: center;
}
.main_all_projects .popular_element .caption .progres_bar_menu .linear_gradient p {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
}
.main_all_projects .popular_element .caption .progres_bar_menu .info_bar {
  width: 100%;
}
.main_all_projects .popular_element .caption .progres_bar_menu .info_bar .how_many {
  width: 33%;
}
.main_all_projects .popular_element .caption .progres_bar_menu .info_bar .how_many:last-child {
  margin-right: 0;
}
.main_all_projects .popular_element .caption .progres_bar_menu .info_bar .how_many span {
  text-align: center;
}
.main_all_projects .popular_element .caption .progres_bar_menu .info_bar .how_many p {
  font-family: "Segoe UI";
  font-size: 12px;
  text-transform: uppercase;
}
.main_all_projects .popular_element .caption .progres_bar_menu .info_bar .how_many_1 span {
  margin-left: 15%;
  color: #919191;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.main_all_projects .popular_element .caption .progres_bar_menu .info_bar .how_many_1 p {
  color: #696969;
}
.main_all_projects .popular_element .caption .progres_bar_menu .info_bar .how_many_2 span {
  color: #139b13;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.main_all_projects .popular_element .caption .progres_bar_menu .info_bar .how_many_2 p {
  color: #139b13;
}
.main_all_projects .popular_element .caption .progres_bar_menu .info_bar .how_many_3 span {
  margin-right: 2%;
  color: #b72300;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.main_all_projects .popular_element .caption .progres_bar_menu .info_bar .how_many_3 p {
  color: #d7230c;
}
.main_all_projects .button_load_more {
  text-align: center;
}
.main_all_projects .button_load_more .load_more {
  width: 270px;
  height: 41px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75), inset 0 1px 2px #ffffff;
  background-color: #b9b9b9;
  color: #000000;
  font-family: "Segoe UI";
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main_all_projects .right_menu {
  margin-top: 85px;
  padding-right: 0;
}
.main_all_projects .right_menu .right_menu_search form input {
  height: 39px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.38);
  border: 1px solid #ffffff;
  background-color: #e7e7e7;
  padding: 10px;
  width: 100%;
}
.main_all_projects .right_menu .right_menu_search form i {
  float: right;
  position: relative;
  bottom: -25px;
  color: #000;
  right: 10px;
}
.main_all_projects .right_menu .favorites {
  height: 41px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75), inset 0 1px 2px #ffffff;
  background-color: rgba(199, 38, 0, 0);
  background-image: linear-gradient(to top, #c41f0c 0%, #930f00 100%);
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 13px;
  font-weight: 400;
  line-height: 45px;
  margin-top: 28px;
}
.main_all_projects .right_menu .favorites i {
  margin: 0 15px;
  font-size: 18px;
}
.main_all_projects .right_menu .li_right_menu {
  padding-left: 0;
  list-style: none;
}
.main_all_projects .right_menu .li_right_menu li {
  background-color: rgba(236, 236, 236, 0.54);
  color: #3d3d3d;
  font-family: "Segoe UI";
  font-size: 13px;
  font-weight: 400;
  margin: 2px;
}
.main_all_projects .right_menu .li_right_menu li ul {
  display: none;
  list-style: none;
  color: #3d3d3d;
  font-family: "Segoe UI";
}
.main_all_projects .right_menu .li_right_menu li:hover > ul {
  display: block;
  color: #3d3d3d;
  font-family: "Segoe UI";
}
.main_all_projects .right_menu .li_right_menu li img {
  margin: 0 5px;
}
.main_all_projects .right_menu .li_right_menu li a {
  color: #3d3d3d;
  line-height: 25px;
}
.main_all_projects .right_menu .li_right_menu li:hover a {
  color: #3d3d3d;
}
.main_all_projects .right_menu_2 {
  margin-top: 0;
}
