
.main_blog{
  background: url(../img/images/bg_blog.png);
  background-size: cover;
  .red_bg_hand{
    background-image: url(../img/images/red-background_blog.png);
    background-size: cover;
    height: 205px;
    p{
      line-height: 59px;
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Segoe UI";
      font-size: 30px;
      font-weight: 700;
      margin: 42px 0 0px;
    }
    h2{
      color: #ffffff;
      font-family: "Frankfurter EF";
      font-size: 58px;
      margin-top: 0;
      margin-bottom: 40px;
      span{
        color: #000000;
        font-family: "Frankfurter EF";
        font-size: 58px;
      }
    }
  }
  .last_blog_notes{
    height: auto;
   .last_blog_notes_left{
    p{
      border: 1px solid #40c4c8;
      -moz-border-image: url(../img/images/opacity_border.png) 1 0 round round;
      -webkit-border-image: url(../img/images/opacity_border.png) 1 0 round round; 
      -o-border-image: url(../img/images/opacity_border.png) 1 0 round round;
      border-image: url(../img/images/opacity_border.png) 1 0 round round;
      color: #343434;
      font-family: "Segoe UI";
      font-size: 18px;
      font-weight: 700;
      height: 40px;
      margin-top: 20px;
      padding-top: 5px;
    }
  }
}
.last_blog_notes_left{
  .nav{
        border: none;
        border-bottom: 4px solid #121212;
        .active > a{
          border: none; 
          background-color: #121212;
          border-bottom: 1px solid #ddd;
          border-bottom-color: transparent;
          background-color: #121212;
          color: #de2b01;
          &:focus{
            border: none; 
            background-color: #121212;
            color: #de2b01;
            border-radius: 3px;
          }
          &:hover{
            background-color: #121212;
            color: #de2b01;
          }
          &::after, &::before {
            content: '';
            position: absolute;
            background: #121212;
            left: 20px; bottom: -7px;
            width: 10px; height: 10px;
            box-shadow: 0 0 7px #000; /* Добавляем тень для уголка */
            z-index: -1; /* Прячем за основным блоком */
            transform: rotate(45deg); /* Поворачиваем на 45º */
            -webkit-transform: rotate(45deg);
           }
           &::before {
            z-index: 1; /* Накладываем поверх, чтобы скрыть следы тени */
            box-shadow: none; /* Прячем тень */
           }
        }
        li{
          margin: 0;
          padding-right: 25px;
          a{
          width: 170px;
          height: 33px;
          border-radius: 3px;
          background-color: #ebebeb;
          color: #de2b01;
          font-family: "Segoe UI";
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          }
        }
    }
}
.last_blog_notes_left{
  .pagination{
    border: none;
    ul{
      li{
        margin-right: 10px;
      }
    }
           .disabled{
             color: #000000;
             font-family: "Segoe UI";
             font-size: 13px;
             font-weight: 400;
             text-transform: uppercase;
           }
            &:focus{
              background-color: #c72600;
              color: #ffffff;
              font-family: "Segoe UI";
              font-size: 13px;
              font-weight: 700;
              font-style: italic;
              line-height: 74px;
              text-transform: uppercase;
            }
            &:active{
              background-color: #c72600;
              color: #ffffff;
              font-family: "Segoe UI";
              font-size: 13px;
              font-weight: 700;
              font-style: italic;
              line-height: 74px;
              text-transform: uppercase;
            }
            &:hover{
              background-color: #c72600;
              color: #ffffff;
              font-family: "Segoe UI";
              font-size: 13px;
              font-weight: 700;
              font-style: italic;
              line-height: 74px;
              text-transform: uppercase;
            }
          }
.tab-content{
  margin-top: 20px;
  margin-bottom: 10px;
  img{
    max-width: 147px;
    max-height: 119px;
    margin: 20px;
  }
  h2{
    color: #000000;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    margin-left: 20px;
  }
  span{
     color: #000000;
     font-weight: 700;
     text-transform: uppercase;
  }
  a{
    color: #0b83a6;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
     text-decoration: underline;
  }
  .tab-pane{
    border-width: 0px;
    padding-top: 0;
    .blog_notes_left{
      border-bottom: 30px solid;
        -moz-border-image: url(../img/images/double_shadow.png) 0 0 30 0 round round;
        -webkit-border-image: url(../img/images/double_shadow.png) 0 0 30 0 round round; 
        -o-border-image: url(../img/images/double_shadow.png) 0 0 30 0 round round;
        border-image: url(../img/images/double_shadow.png) 0 0 30 0 round round;
         margin-bottom: 20px;
         height: 186px;
         
      .blog_notes_left_in{
        border-top: 8px solid black;
        background-color: #f4f4f4;
      }
    }
  }
  .foot_tabs{
    color: #000000 !important;
    font-weight: 400 !important;
    height: auto !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    border: none !important;
    i{
      font-size: 16px;
      padding-left: 5px;
    }
    span{
      color: #9a9a9a;
      font-family: "Segoe UI";
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      border-right: 1px solid silver;
      padding-right: 5px;
    }
    .how_many_comments{
      color: #b12406;
      font-weight: 700;
      border: none;
    }
  }
}
}
}
.last_blog_notes_right{
  form{
      input{
        max-width: 470px;
        height: 39px;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.38);
        border: 1px solid #ffffff;
        background-color: #e7e7e7;
        padding: 10px;
        margin-top: 20px;
      }
      i{
        float: right;
        position: relative;
        bottom: 26px;
        color: black;
      }
    }
    p{
      color: #c72600;
      font-family: "Segoe UI";
      font-size: 18px;
      font-weight: 700;
      line-height: 43.5px;
      border-bottom: 4px solid #c72600;
    }
    .blog_notes_right{
      background-color: #f4f4f4;
      margin-bottom: 9px;
      margin-top: 10.5px;
      padding-bottom: 35px;
      border-bottom: 30px solid;
      -moz-border-image: url(../img/images/double_shadow.png) 0 0 30 0 round round;
      -webkit-border-image: url(../img/images/double_shadow.png) 0 0 30 0 round round; 
      -o-border-image: url(../img/images/double_shadow.png) 0 0 30 0 round round;
      border-image: url(../img/images/double_shadow.png) 0 0 30 0 round round;
      padding-bottom: 47px;
      height: 186px;
      .blog_notes_right_in{
        border-top: 8px solid red;
      }
      img{
        max-width: 147px;
        max-height: 119px;
        margin: 20px;
      }
      h2{
        color: #000000;
        font-family: "Segoe UI";
        font-size: 12px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        margin-left: 20px;
      }
      a{
        width: 258px;
        height: 32px;
        font-family: "Segoe UI";
        font-size: 12px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        color: #4495b2;
        text-decoration: underline;
        span{
          color: #c72600;
        }
      }
    }
}