body{
  background: url(../img/ful_bg.jpg);
}
.header{
  overflow: hidden;
	.navbar{
    margin-bottom: 0;
		.navbar-brand{
			height: 105px;
		}
  .nav{
    padding-top: 3.5%;
    width: 85%;
      li{
        font-family: "Segoe UI";
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border-right: 1px solid #000;
        &:first-child{
          padding-left: 5%;
        }
        &:last-child{
          color: #000000;
          text-decoration: underline;
          border: none;
        }
        &:nth-child(5){
          color: #c72600;
          margin-right: 10px;
          padding-right: 10px;
        }
        &:nth-child(4){
          border: none;
          width: 20%;
        }
        a{
          padding-top: 0;
          padding-bottom: 0;
          color: #000;
          form{
            color: #000;
            input{
              border: none;
              text-transform: uppercase;
              background: none;
              color: #000;
              width: 85%;
              &::-webkit-input-placeholder {color: #000;}
              &::-moz-placeholder          {color: #000;}/* Firefox 19+ */
              &:-moz-placeholder           {color: #000;}/* Firefox 18- */
              &:-ms-input-placeholder      {color: #000;}
              } 
            }
          }
        }
      }
    } 
}


.footer{
  background-color: #000000;
  .container{
    .row{
      margin-top: 30px;
      .nth-col{
        p{
          color: #c72600;
          font-family: "Segoe UI";
          font-size: 20px;
          font-weight: 700;
          line-height: 21px;
          text-transform: uppercase;
        }
        div{
          div{
            margin: 0 30px 25px 0;
          }
        }
      }
      .first_col{
        img{
            &:nth-child(2){
            padding: 0 0 5px 40px;
          }
        }
      }
      .second_col{
        padding-left: 70px;
        div{
          margin: 0 0 10px 0;
        }
        p{
          margin-bottom: 50px;
        }
        span{
          color: #ffffff;
          font-family: "Segoe UI";
          font-size: 15px;
          font-weight: 400;
          line-height: 21px;
        }
        .fa-facebook{
          font-size: 32px;
          border: 1px solid;
          border-radius: 50%;
          padding: 5px;
        }
      }
    .third_col{
      padding-top: 6%;
    }  
    }
  }
}
.under_footer{
  background-color: #971001;
  a{
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 15px;
    font-weight: 400;
    line-height: 55px;
    text-decoration: underline;
    margin-right: 65px;
    &:last-child{
      margin-right: 0;
    }
  }
} 