body {
  background: url(../img/ful_bg.jpg);
}
.header {
  overflow: hidden;
}
.header .navbar {
  margin-bottom: 0;
}
.header .navbar .navbar-brand {
  height: 105px;
}
.header .navbar .nav {
  padding-top: 3.5%;
  width: 85%;
}
.header .navbar .nav li {
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-right: 1px solid #000;
}
.header .navbar .nav li:first-child {
  padding-left: 5%;
}
.header .navbar .nav li:last-child {
  color: #000000;
  text-decoration: underline;
  border: none;
}
.header .navbar .nav li:nth-child(5) {
  color: #c72600;
  margin-right: 10px;
  padding-right: 10px;
}
.header .navbar .nav li:nth-child(4) {
  border: none;
  width: 20%;
}
.header .navbar .nav li a {
  padding-top: 0;
  padding-bottom: 0;
  color: #000;
}
.header .navbar .nav li a form {
  color: #000;
}
.header .navbar .nav li a form input {
  border: none;
  text-transform: uppercase;
  background: none;
  color: #000;
  width: 85%;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.header .navbar .nav li a form input::-webkit-input-placeholder {
  color: #000;
}
.header .navbar .nav li a form input::-moz-placeholder {
  color: #000;
}
.header .navbar .nav li a form input:-moz-placeholder {
  color: #000;
}
.header .navbar .nav li a form input:-ms-input-placeholder {
  color: #000;
}
.footer {
  background-color: #000000;
}
.footer .container .row {
  margin-top: 30px;
}
.footer .container .row .nth-col p {
  color: #c72600;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}
.footer .container .row .nth-col div div {
  margin: 0 30px 25px 0;
}
.footer .container .row .first_col img:nth-child(2) {
  padding: 0 0 5px 40px;
}
.footer .container .row .second_col {
  padding-left: 70px;
}
.footer .container .row .second_col div {
  margin: 0 0 10px 0;
}
.footer .container .row .second_col p {
  margin-bottom: 50px;
}
.footer .container .row .second_col span {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}
.footer .container .row .second_col .fa-facebook {
  font-size: 32px;
  border: 1px solid;
  border-radius: 50%;
  padding: 5px;
}
.footer .container .row .third_col {
  padding-top: 6%;
}
.under_footer {
  background-color: #971001;
}
.under_footer a {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 15px;
  font-weight: 400;
  line-height: 55px;
  text-decoration: underline;
  margin-right: 65px;
}
.under_footer a:last-child {
  margin-right: 0;
}
