@media only screen and (min-width: 992px) and (max-width:1199px){
.wrapper{
  width: 100%;
  margin: 0 auto;
}	
.main_settings .opu_s {
    margin-top: 613px;
 }
 .main_settings .profil_e {
    margin-top: 140px;
    cursor: pointer;
    margin-left: 310px;
 }
 .main_settings {
  height: 100%;
  background: rgba(8, 8, 8, 0.32);
}
.main_settings .opu_s .sea_v {
    margin-left: 121px;
    margin-bottom: 10px;
}	
}
@media only screen and (min-width: 768px) and (max-width:991px){
.wrapper{
  width: 100%;
  margin: 0 auto;
}
.main_settings .opu_s {
   margin-top: 613px;
 }
 .main_settings .profil_e {
    margin-top: 140px;
    cursor: pointer;
    margin-left: 230px;
 }
 .main_settings {
  height: 100%;
  background: rgba(8, 8, 8, 0.32);
}
.main_settings .opu_s .sea_v {
    margin-left: 121px;
    margin-bottom: 10px;
}	
.main_settings .opu_s .tab_s {
    width: 709px;
}
hr {
    margin-bottom: 10px;
    width: 100%;
    margin-top: 14px;
 }
 .nav-tabs>li {
    float: none;
    margin-bottom: 9px;
    text-align: center;
}
.main_settings .opu_s .tab_s {
    width: 660px;
}
.main_settings .opu_s .inp_cla {
    width: 350px;
}
.main_settings .opu_s .doba_v {
    left: 552px;
}
.main_settings .opu_s .leff_t {
	width: 100%; 
}
.main_settings .opu_s .inp_on_e {
     width: 390px;
     left: 0; 
}
.main_settings .opu_s .inp_select {
    width: 390px;
    left: 50px;
}
.main_settings .opu_s .bi_o {
    position: relative;
     bottom: 61px; 
}
.main_settings .opu_s .data_inp {
    width: 116px; 
}
.main_settings .opu_s .are_a {
    height: 125px;
    width: 390px;
    left: 15px;
}
.main_settings .opu_s .inp_clainp {
    width: 390px;
    left: 127px;
}
.main_settings .opu_s .inp_clas {
    width: 390px;
    left: 20px;
}
.main_settings .opu_s .sea_v {
    margin-left: 211px;
    margin-bottom: 10px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
.wrapper{
  width: 100%;
  margin: 0 auto;
}
.main_settings .opu_s {
   margin-top: 613px;
 }
 .main_settings .profil_e {
    margin-top: 140px;
    cursor: pointer;
    margin-left: 100px;
 }
 .main_settings {
  height: 100%;
  background: rgba(8, 8, 8, 0.32);
}
.main_settings .opu_s .sea_v {
    margin-left: 121px;
    margin-bottom: 10px;
}	
hr {
    margin-bottom: 10px;
    width: 100%;
    margin-top: 14px;
 }
 .nav-tabs>li {
    float: none;
    margin-bottom: 9px;
    text-align: center;
}
.main_settings .opu_s .im_g_avat {
    width: 60px;
    height: 60px;
    margin-left: 30px;
}
.main_settings .opu_s .w_p {
    width: 66px;
    right: 0;
    font-size: 7px;
}
.main_settings .opu_s .otpravk_a {
    right: 0;
}
.main_settings .opu_s .donlo_w {
    font-size: 13px;
    left: 0;;
}
.main_settings .opu_s .name_spa{
    margin: 0 45px 0 0;
}
.main_settings .opu_s .nam_spa {
    margin: 0 13px 0 0;
}
.main_settings .opu_s .tab_s {
    width: 400px;
}
.main_settings .opu_s .inp_cla {
    width: 220px;
}
.main_settings .opu_s .doba_v {
    left: 270px;
}
.main_settings .opu_s .leff_t {
	width: 100%; 
}
.main_settings .opu_s .inp_on_e {
    width: 240px;
    left: 50px;
}
.main_settings .opu_s .inp_select {
    width: 240px;
    left: 50px;
}
.main_settings .opu_s .bi_o {
    position: relative;
    bottom: 2px; 
}
.main_settings .opu_s .data_inp {
     width: 204px;
    margin-top: 10px;
}
.main_settings .opu_s .are_a {
    height: 125px;
    width: 290px;
    left: 15px;
}
.main_settings .opu_s .inp_clainp {
    width: 240px;
    left: 127px;
}
.main_settings .opu_s .inp_clas {
    width: 240px;
    left: 20px;
}
.main_settings .opu_s .sea_v {
    margin-left: 40px;
    margin-bottom: 10px;
}
}
@media only screen and (min-width: 320px) and (max-width: 479px){
.wrapper{
  width: 100%;
  margin: 0 auto;
}
.main_settings .opu_s {
   margin-top: 613px;
 }
 .main_settings .profil_e {
    margin-top: 140px;
    cursor: pointer;
    margin-left: 10px;
 }
 .main_settings {
  height: 100%;
  background: rgba(8, 8, 8, 0.32);
}
.main_settings .opu_s .sea_v {
    margin-left: 121px;
    margin-bottom: 10px;
}	
hr {
    margin-bottom: 10px;
    width: 100%;
    margin-top: 14px;
 }
 .nav-tabs>li {
    float: none;
    margin-bottom: 9px;
    text-align: center;
}
.main_settings .opu_s .im_g_avat {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}
.main_settings .opu_s .w_p {
    width: 66px;
    right: 0;
    font-size: 7px;
}
.main_settings .profil_e .balan_s .histor_y {
    margin: 0 ;
    font-size: 19px;
    color: #000;
    width: 100%;
}
.main_settings .glyphicon {
    font-size: 21px;
    position: relative;
    top: 5px;
    width: 20px;
    right: 10px;
    margin-top: 17px;
}
.main_settings .opu_s .otpravk_a {
    right: 0;
}
.main_settings .opu_s .donlo_w {
    font-size: 10px;
    left: 0;;
}
.main_settings .opu_s .name_spa{
    margin: 0 45px 0 0;
}
.main_settings .opu_s .nam_spa {
    margin: 0 13px 0 0;
}
.main_settings .opu_s .tab_s {
    width: 240px;
}
.main_settings .opu_s .inp_cla {
    width: 190px;
}
.main_settings .opu_s .pomo_sh {
    font-size: 8px;
    margin-left: 0; 
    color: #bfbfbf;
}
.main_settings .opu_s .doba_v {
    left: 30px;
    margin-bottom: 36px;
    top: 13px;
}
.main_settings .opu_s .leff_t {
	width: 100%; 
}
.main_settings .opu_s .inp_on_e {
    width: 190px;
    left: 50px;
}
.main_settings .opu_s .inp_select {
    width: 190px;
    left: 50px;
}
.main_settings .opu_s .bi_o {
    position: relative;
    bottom: 2px; 
}
.main_settings .opu_s .data_inp {
     width: 204px;
    margin-top: 10px;
}
.main_settings .opu_s .are_a {
    height: 125px;
    width: 190px;
    left: 15px;
}
.main_settings .opu_s .pomo_shh {
    font-size: 9px;
    margin-left: 1px;
    bottom: 0;
}
.main_settings .opu_s .inp_clainp {
    width: 240px;
    left: 0;
    top: 3px;
}
.main_settings .opu_s .inp_clas {
    width: 190px;
    left: 20px;
}
.main_settings .opu_s .sea_v {
    margin-left: 0;
    margin-bottom: 10px;
}
}
/*----------------------------Настройки----------------------------*/
@media only screen and (min-width: 992px) and (max-width:1200px){
	/* header */
	.header .navbar .navbar-brand{
		padding-left: 360px;
	}
	.header .navbar .nav{
		width: 105%;
	}
	.main_rules .rules_in .bor_right_rules{
		border: none;
	}
	.main_rules{
		height: 1180px;
	}
	.footer .container .row .second_col{
		padding-left: 120px;
	}
	.footer{
		height: 435px;
	}
	.under_footer{
		height: 110px;
	}
	.main_rules .rules_in{
		border: none;
	}
}
	/* /header */

@media only screen and (min-width: 992px) and (max-width:1200px){
	.main_my_stranica {
     height: 100%;
    }
	.main_my_stranica .opu_s button {
    font-size: 10px;
    font-weight: bold;
    height: 40px;
    width: 108px;
    margin-right: 20px;
	}
	.wrapper{
	  width: 100%;
	  margin: 0 auto;
	  margin-top: 57px;
	}
	 .main_my_stranica .opu_s .iva_n {
	     font-size: 17px;
	 }
	.main_my_stranica .opu_s .avto_r {
	    font-size: 12px;
	}
	.main_my_stranica .opu_s .v_u {
	    margin-top: 40px;
	    font-size: 11px;
	    color: black;
	}
	.main_my_stranica .opu_s .pros_m {
	    width: 140px;
	}
	 .main_my_stranica .opu_s {
	    margin-top: 140px;
	}
}
@media only screen and (min-width: 768px) and (max-width:992px){
	.main_my_stranica {
     height: 100%;
    }
	.main_my_stranica .opu_s button {
    font-size: 10px;
    font-weight: bold;
    height: 40px;
    width: 108px;
    margin-right: 20px;
}
	.wrapper{
	  width: 100%;
	  margin: 0 auto;
	  margin-top: 57px;
	}
	 .main_my_stranica .opu_s .iva_n {
	     font-size: 17px;
	 }
	.main_my_stranica .opu_s .avto_r {
	    font-size: 12px;
	}
	.main_my_stranica .opu_s .v_u {
	    margin-top: 40px;
	    font-size: 11px;
	    color: black;
	}
	.main_my_stranica .opu_s .pros_m {
	    width: 140px;
	}
	 .main_my_stranica .opu_s {
	    margin-top: 184px;
	}
}
@media only screen and (min-width: 768px) and (max-width:991px){
	/* rules */
	.header .navbar .navbar-brand{
		margin-left: 230px;
	}
	.header .navbar .nav{
		padding-top: 3.5%;
	    width: 140%;
	    margin-left: -155px;
	}
	.navbar-right{
		float: left !important;
		margin-right: 0;
	}
	/* all_project */
	.main_all_projects .popular_element .img_shadow{
		padding-top: 0;
	}
	.main_all_projects .popular_element img{
		width: 100%;
	}
	.main_all_projects .button_load_more{
		margin-top: 50px;
	}
	/* /all_project */
	/* rules */
 .main_my_stranica {
     height: 100%;
    }
	.main_my_stranica .opu_s button {
    font-size: 10px;
    font-weight: bold;
    height: 40px;
    width: 108px;
    margin-right: 20px;
}
	.wrapper{
	  width: 100%;
	  margin: 0 auto;
	  margin-top: 57px;
	}
	 .main_my_stranica .opu_s .iva_n {
	     font-size: 17px;
	 }
	.main_my_stranica .opu_s .avto_r {
	    font-size: 12px;
	}
	.main_my_stranica .opu_s .v_u {
	    margin-top: 40px;
	    font-size: 11px;
	    color: black;
	}
	.main_my_stranica .opu_s .pros_m {
	    width: 140px;
	}
	 .main_my_stranica .opu_s {
	    margin-top: 595px;
	}
	.main_my_stranica .profil_e {
       margin-left: 190px;
     }
}
@media only screen and (min-width: 768px) and (max-width: 890px){
	.header .navbar .nav{
		width: 120%;
		margin-left: -25px;
	}
	.header .navbar .nav li{
		border: none;	
	}
	.header .navbar .nav li:first-child{
		padding-left: 0;
	}
}
@media only screen and (min-width: 480px) and (max-width:768px){
	/* design */
	.main_design .button_load_more .load_more_last{
		margin-bottom: 0;
	}
	.main_design .button_load_more{
		margin-top: 50px;
	}
	.main_design .popular_element img{
		width: 100%;
	}
	.main_design .popular_element .img_shadow{
		padding-top: 0;
	}
	/* design */
 .main_my_stranica {
     height: 100%;
    }
	.main_my_stranica .opu_s button {
    font-size: 10px;
    font-weight: bold;
    height: 40px;
    width: 108px;
    margin-right: 20px;
}
	.wrapper{
	  width: 100%;
	  margin: 0 auto;
	  margin-top: 57px;
	}
	 .main_my_stranica .opu_s .iva_n {
	     font-size: 17px;
	 }
	.main_my_stranica .opu_s .avto_r {
	    font-size: 12px;
	}
	.main_my_stranica .opu_s .v_u {
	    margin-top: 40px;
	    font-size: 11px;
	    color: black;
	}
	.main_my_stranica .opu_s .pros_m {
	    width: 140px;
	}
	 .main_my_stranica .opu_s {
	    margin-top: 595px;
	}
	.main_my_stranica .profil_e {
    	margin-left: 80px;
    	margin-top: 10px;
    }
    /* all_project */
	.main_all_projects .popular_element img{
		width: 100%;
	}
	.main_all_projects .popular_element .img_shadow{
		padding-top: 0;
	}
	.main_all_projects .popular_element{
		height: auto;
	}
	.main_all_projects .popular_element .caption .progres_bar_menu .linear_gradient{
		padding-top: 1%;
	}
    /* /all_project */
}
@media only screen and (min-width: 320px) and (max-width: 480px){
	.main_my_stranica {
     height: 100%;
    }
    .wrapper{
	  width: 100%;
	  margin: 0 auto;
	  margin-top: 57px;
	}
	.main_my_stranica .opu_s button {
	    font-size: 10px;
	    font-weight: bold;
	    height: 40px;
	    width: 108px;
	    margin-right: 20px;
	}
    .main_my_stranica .opu_s .iva_n {
	     font-size: 17px;
	 }
	.main_my_stranica .opu_s .avto_r {
	    font-size: 12px;
	}
	.main_my_stranica .opu_s .v_u {
	    margin-top: 40px;
	    font-size: 11px;
	    color: black;
	}
	.main_my_stranica .opu_s .pros_m {
	    width: 140px;
	}
	 .main_my_stranica .opu_s {
	    margin-top: 595px;
	}
	 /* all_project */
	.main_all_projects .popular_element img{
		width: 100%;
	}
	.main_all_projects .popular_element .img_shadow{
		padding-top: 0;
	}
	.main_all_projects .popular_element{
		height: auto;
	}
	.main_all_projects .popular_element .caption .progres_bar_menu .linear_gradient{
		padding-top: 1.5%;
	}
    /* /all_project */
}
/*--------------------------------Моя страница------------------------------------------------*/

@media only screen and (min-width:992px) and (max-width:1200px){
	.wrapper{
	  width: 100%;
	  margin: 0 auto;
	}
   .main_proekt .opu_s {
	  margin-top: 155px;
	  margin-left: 0;
	}
   .main_proekt .opu_s .lini_a {
    	width:620px
   }
   .main_proekt .opu_s .bloc_k{
   }
   .main_proekt .opu_s .posit_ion {
      right: 0;
      position: relative;
    }
   .main_proekt .opu_s .hr_2p {
     margin-top: 25px; 
   }
   .main_proekt .opu_s .proek_t .shestte_r {
      padding: 0px 21px;
     }
    .main_proekt .opu_s button {
     margin-right: 50px;
    }
    .main_proekt .opu_s .proek_t {
    	font-size: 11px;
    }
}
@media only screen and (min-width: 500px) and (max-width: 580px){
	.main_rules{
		height: 1400px !important;
	}
}
@media only screen and (min-width:780px) and (max-width:992px){
	.wrapper{
	  width: 100%;
	  margin: 0 auto;
	}
	.main_proekt .opu_s .bloc_k {
    height: 57px;
    margin-top: 125px;
    background: #ebebeb;
    border: 1px #fff solid;
    width: 640px;
}
  .main_proekt .opu_s .lini_a {
   	width:550px;
   }
   .main_proekt .opu_s .you_tobe{
   	width: 200px;
   }
   .main_proekt .opu_s .text_span {
   	font-size: 13px;
   }
   .main_proekt .opu_s .text_p{
    font-size: 11px;
   }
   .main_proekt .opu_s .proek_t .shestte_r {
   	    padding: 0px 59px;
   }
   .main_proekt .opu_s .posit_ion {
     right: 0;
    position: relative;
   }
}
@media only screen and (min-width:500px) and (max-width:768px){
  .wrapper{
	  width: 100%;
	  margin: 0 auto;
	}
  .main_proekt .opu_s .lini_a {
   width: 378px;
   }
   .main_proekt .opu_s .you_tobe{
   	width: 200px;
   }
   .main_proekt .opu_s .proek_t .shestte_r {
    padding: 7px 0 ;
    top: 10px;
   }
   .main_proekt .opu_s .posit_ion {
    right: 0;
    position: relative;
    } 
   .main_proekt .opu_s .bloc_k{
     height: 83px;
     text-align: center;
     width: 360px;
     margin-top: 116px;
    }
   .main_proekt .opu_s .text_p {
    font-size: 11px;
   }
  .main_proekt .opu_s button {
    height: 30px;
    width: 140px;
    font-size: 13px;
    margin-right: 10px;
 }
}
@media only screen and (min-width:321px) and (max-width:480px){
    .wrapper{
	  width: 100%;
	  margin: 0 auto;
	  background: rgba(23, 23, 23, 0.33);
	}
	.main_vhod_registr .bg1 {
     margin-left: 40px;
   }
	.main_proekt .profil_e {
    margin-top: 10px;
    position: relative;
    left: 111px;
}
	.main_proekt .opu_s .text_span {
    font-size: 27px;
     }
 	.main_proekt .opu_s {
      margin-top: 570px;
      text-align: center;
    }
   .main_proekt .opu_s .lini_a {
     width: 378px;
   }
	.main_proekt .opu_s .you_tobe {
	   width: 200px;
	   position: relative;
	   left: 50px;
	   bottom: 10px;
	}
   .main_proekt .opu_s .proek_t .shestte_r {
      padding: 7px 0 ;
      top: 10px;
   }
   .main_proekt .opu_s .posit_ion {
      right: 0;
      position: relative;
     } 
	.main_proekt .opu_s .bloc_k {
	    height: 83px;
	    text-align: center;
	    width: 360px;
	    margin-top: 116px;
	    position: relative;
	    left: 60px;
	    border: 1px solid;
	}
	.main_proekt .opu_s .text_p {
	    font-size: 14px;
	}
  .main_proekt .opu_s button {
	    height: 30px;
	    width: 140px;
	    font-size: 13px;
	    margin-right: 10px;
	 }
}
@media only screen and (min-width:320px) and (max-width:321px){
    .wrapper{
	  width: 100%;
	  margin: 0 auto;
	  background: rgba(23, 23, 23, 0.33);
	}
	.main_proekt .opu_s .text_span {
    font-size: 27px;
     }
 	.main_proekt .opu_s {
      margin-top: 570px;
      text-align: center;
    }
  .main_proekt .opu_s .lini_a {
      width: 285px;
   }
	.main_proekt .opu_s .you_tobe {
	    width: 200px;
	    position: relative;
	    left: 50px;
	    bottom: 10px;
	}
   .main_proekt .opu_s .proek_t .shestte_r {
    padding: 7px 0 ;
    top: 10px;
   }
   .main_proekt .opu_s .posit_ion {
    right: 0;
    position: relative;
    } 
	.main_proekt .opu_s .bloc_k {
    height: 83px;
    text-align: center;
    width: 310px;
    margin-top: 16px;
    position: relative;
    left: 5px;
    border: 1px solid;
	}
	.main_proekt .opu_s .text_p {
	    font-size: 14px;
	}
  .main_proekt .opu_s button {
	    height: 30px;
	    width: 140px;
	    font-size: 13px;
	    margin-right: 10px;
	 }
	.main_proekt .opu_s .Save {
		margin-left: 23px;
	}
	.main_proekt .opu_s .proek_t {
	    font-size: 12px;
	}
	.main_proekt .profil_e {
    margin-left: 20px;
    }
}
/*------------------------------------Мой проект----------------------------------------------*/
@media only screen and (min-width:992px) and (max-width:1200px){
	.wrapper{
	  width: 100%;
	  margin: 0 auto;
	}
}
@media only screen and (min-width:780px) and (max-width:992px){
	.wrapper{
	  width: 100%;
	  margin: 0 auto;
	}
	.main_vhod_registr .bg1 {
     margin-left: 215px;
    }
}
@media only screen and (min-width:500px) and (max-width:768px){
  .wrapper{
	  width: 100%;
	  margin: 0 auto;
	}
	.main_vhod_registr .bg1 {
     margin-left: 120px;
    }
}
@media only screen and (min-width:321px) and (max-width:480px){
    .wrapper{
	  width: 100%;
	  margin: 0 auto;
	  background: 0;
	}
  .main_vhod_registr .bg1 {
    margin-left: 38px;
    }

}
@media only screen and (min-width:320px) and (max-width:321px){
    .wrapper{
	  width: 100%;
	  margin: 0 auto;
	  background:0;
	}
	.main_vhod_registr .tab-content {
     width: 283px;
   }
  .main_vhod_registr .tab-content .v_k {
    width: 267px;
    }
   .main_vhod_registr .tab-content .f_k {
    width: 267px;
    }
    .main_vhod_registr .nav-tabs>li>a {
    width: 141.5px;
    font-size: 17px;
   }
   .main_vhod_registr .nav-tabs>li.active>a, .main_vhod_registr .nav-tabs>li.active>a:focus, .main_vhod_registr .nav-tabs>li.active>a:hover {
    color: #de2b01;
    cursor: pointer;
    background: #000;
    width: 141.5px;
    border: none;
   }
   .main_vhod_registr .tab-content #profile #inputEmail3 ,.main_vhod_registr .tab-content #profile .form-control {
    width: 100%;
  }
  .main_vhod_registr .tab-content .otpra_v ,.main_vhod_registr .tab-content #profile{
    width: 100%;
    font-size: 19px;
   }
	.main_vhod_registr .tab-content .f_k ,.main_vhod_registr .tab-content .v_k{
	    width: 100%;
	}

}
	@media only screen and (min-width:480px) and (max-width:500px){
		.main_rules{
			height: 1465px !important;
		}
	}
/*-----------------------------------ВХОД_РЕГИСТАЦИЯ----------------------------------------------*/



@media only screen and (max-width: 768px){
	/* popular */
	.main_popular .popular_element img{
		width: 100%;
	}
	.main_popular .popular_element .img_shadow{
		padding-top: 0;
	}
	.main_popular .button_load_more .load_more{
		margin-top: 50px;
	}
	/* /popular */
	.main_recomended .popular_element img{
		width: 100%;
	}
	.main_recomended .popular_element .img_shadow{
		padding-top: 0;
		margin-bottom: 20px;
	}
	/* /popular */

	/* search */
	.main_search .search_request .search_request_in .progres_bar_menu{
		width: 50%;
	}
	/* /search */
	.header .navbar .nav{
		width: 100%;
		padding-top: 0;
	}
	.navbar-nav{
		margin: 0;
	}
	.header .navbar .nav li{
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.header .navbar .nav li:first-child{
		padding-left: 0;
	}
	.header .navbar .nav li a form input{
		width: auto;
	}
	.header .navbar .nav li{
		border: none;
	}
	.header .navbar .nav li:nth-child(4){
		width: 100%;
	}
	.main .container .nav div{
		display: none;
	}
	.main .container .nav li{
		border: none;
	}
	.main .container .tab-content .tab-pane div .Naked_girl{
		width: 50%;
	}
}
@media only screen and (min-width:769px) and (max-width:991px){
	.main_rules{
		margin-bottom: 130px; !important;
	}
	.main_rules .rules_in{
		padding: 0;
		height: auto;
		border: none;
	}
	.main_rules .rules_in .bor_right_rules{
		border: none;
	}
}
@media only screen and (min-width:321px) and (max-width:470px){
	.main_rules{
		height: 2050px !important;
	}
}
/*----------------Мой проект-------------------*/
@media only screen and (min-width: 767px) and (max-width: 768px){
	.header .navbar .nav li:first-child{
		padding-left: 100px;
	}
	.header .navbar .nav li a form input{
		width: auto;
	}
	.header .navbar .nav li{
		border: none;
	}
	.header .navbar .nav li:nth-child(4){
		width: 100%;
		text-align: center;
	}
	.header .navbar .nav li:nth-child(5){
		padding-left: 100px;
	}
	.main_rules .rules_in{
		padding: 0;
		height: auto;
		border: none;
	}
	.main_rules .rules_in .bor_right_rules{
		border: none;
	}
}
@media only screen and (max-width: 767px){
	.display_none_768px{
		display: none;
	}
	.header .navbar .nav{
		width: 100%;
		padding-top: 0;
	}
	.navbar-nav{
		margin: 0;
	}
	.header .navbar .nav li{
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.header .navbar .nav li:first-child{
		padding-left: 0;
	}
	.header .navbar .nav li a form input{
		width: auto;
	}
	.header .navbar .nav li{
		border: none;
	}
	.header .navbar .nav li:nth-child(4){
		width: 100%;
		text-align: left;
	}
	.header .navbar .nav li:nth-child(5){
		padding-left: 0;
	}
	.main .container .nav div{
		display: none;
	}
	.main .container .nav li{
		border: none;
	}
	.main .container .tab-content .tab-pane div .Naked_girl{
		width: 50%;
	}
	.main .container .tab-content .tab-pane .progres_bar_menu{
		width: 100%;
	}
	.main .red_bg .thumbnail .img_shadow{
		display: none;
	}
	.successful .thumbnail .caption .progres_bar_menu .linear_gradient{
		padding-top: 1.3%;
	}
	.successful .thumbnail .img_shadow{
		display: none;
	}
	.main_rules .rules_in button{
		margin-top: 50px;
	}
	.footer{
		height: auto;
	}
	.header .navbar .nav li{
		border: none;	
	}
	.under_footer{
		height: auto;
	}
	.under_footer a{
		margin-right: 50px;
	}
	.footer .container .row .second_col{
		text-align: left !important;
	}
	.footer .container .row .third_col{
		padding-top: 0;
	}
	.footer .container .row .nth-col{
		text-align: -webkit-center;
	}
/* rules */
	.main_rules{
		height: 1250px;
	}
	.main_rules .rules_in .bor_right_rules{
		border: none;
	}
	.main_rules .rules_in{
		border: none;
	}
/* /rules */
}
@media only screen and (max-width: 480px){
	/* search */
	.main_search .search_request .search_request_in img{
		padding: 0;
		max-width: 24%;
	}
	.main_search .search_request .search_request_in .progres_bar_menu{
		width: 100%;
		margin-left: 5px;
	}
	.main_search .search_request .search_request_in h2{
		line-height: 21px;
	}
	/* search */
	.footer{
		margin-top: 0;
	}
	.footer .container .row .second_col span{
		line-height: 35px;
	}
	.carousel{
		display: none;
	}
	.main .container .tab-content .tab-pane h2{
		line-height: 25px;
	}
	.successful .our_partner{
		padding-bottom: 20px;
	}
	.main .container .nav .active>a{
		width: 190px;
	}
	.main .container .nav li a{
		width: 190px;
	}
	.main .container .tab-content .tab-pane .progres_bar_menu{
		margin-left: 0;
	}
	.main .red_bg{
		display: none;
	}
	.successful{
		height: auto;
	}
	.successful .successful_h2{
		display: none;
	}
	/* blog */
	.last_blog_notes_right form{
		width: 41%;
	}
	.main_blog .last_blog_notes_left .tab-content .tab-pane .blog_notes_left{
		height: 231px;
	}
	/* /blog */
	/* rules */
	.main_rules{
		height: 1430px;
	}
	.main_rules .rules_in button{
		margin-top: 10px;
	}
	.main_rules .rules_in{
		border: none;
	}

	/* /rules */
}
@media only screen and (max-width: 320px){
	/* design */
	.main_design .popular_element .img_shadow{
		padding-top: 0;
	}
	/* design */
	/* search */
	.main_search .search_request .search_request_in img{
		min-width: 100% !important;
	}
	.main_search .search_request{
		height: 573px;
	}
	.main_search .how_many_search_request{
		margin-bottom: 55px;
		height: auto;
	}
	/* search */
	.main .container .nav .active>a{
		width: 285px;
	}
	.header_col{
		padding-right: 0;
	}
	.main .container .nav li a{
		width: 285px;
		padding-right: 0;
	}
	.main .container .tab-content .tab-pane div .Naked_girl{
		width: 100%;
	}
	.main .container .tab-content .tab-pane h2{
		width: 100%;
	}
	.main .container .tab-content .tab-pane p{
		margin-left: 0;
	}
	.main .container .tab-content .tab-pane .progres_bar_menu .info_bar .how_many{
		width: 49%;
	}
	.main .container .tab-content .tab-pane .progres_bar_menu{
		margin-bottom: 70px;
	}
	.successful h2{
		line-height: 40px;
	}
	.footer .container .row .first_col img:nth-child(2){
		padding: 0;
	}
	/* blog */
	
	.last_blog_notes_right form{
		width: 180px;
	}
	.main_blog .last_blog_notes_left .tab-content{
		margin-bottom: 110px;
	}
	.last_blog_notes_right .blog_notes_right{
		margin-bottom: 90px;
	}
	/* /blog */
	/* rules */
	.main_rules{
		height: 2080px;
	}
	.main_rules .rules_in{
		border: none;
	}
	/* /rules */
}
/* спонсор*/
@media only screen and (min-width:768px) and (max-width:991px){
	.main_sponsor, .photo , .full{
		font-size: 13px;
	}
}
