.wrapper {
    width: 1170px;
    margin:0 auto ;
}
.main_my_stranica{
  background: url(../img/main.jpg)top center no-repeat;
  height: 1100px;
.opu_s{
  margin-top: 140px;
  button{
    background: #a01e00 none repeat scroll 0 0;
    border-bottom: 5px solid #c12703;
    border-radius: 6px;
    border-top: 5px solid #c12703;
    color: #fff;
    float: right;
    font-size: inherit;
    font-weight: bold;
    height: 50px;
    width: 270px;
  }
  .iva_n{
  font-weight: bold;
  font-size: 20px;
  color: black;
 }
.avto_r{
  color: #444444;
  font-size: 16px;
 }
span{
  color: #c72600;
  font-weight: bold;
 }
.v_u{
  margin-top: 40px;
  font-size: 17px;
  color: black;
 }
.pros_m{
  color: #0893a8;
 }
}
.profil_e{
  margin-top: 140px;
  cursor: pointer;
.line{
    border: 1px dashed #afb0b1;
    width: 270px;
    top: 5px;
    position: relative;
}
.hove_r{
  color: #d57e70;
}
 .balan_s{
  height:55px;
  width: 270px;
  background: #c72600;
p{
  font-size: 17px;
  color: #fff;
  margin: 0;
  padding: 14px;
}
.histor_y{
   margin: 0 40px;
   font-size: 19px;
   color: #000;
   width: 100%;
       &:hover{
      color:red;
    }
}
.panel-body {
  padding: 0px; 
}
 .two{
 width: 240px;
}
.panel-group{
  margin-top: 50px;
  a{
    text-decoration: none;
  }
.panel-body{
   a{
        color: #606161;
  }
}
.panel-default {
    border-color: #bababa;
   }
    
.panel-default > .panel-heading {
    background-color: black;
    color: #fff;
   }
}
.dec_o{
  color: black;
}
.to_p{
  top: 48px;
}
button{
    background: black none repeat scroll 0 0;
    border: 2px solid #000000;
    float: right;
    height: 55px;
    width: 58px;
    margin-top: -52px;
    &:hover{
    background:green;
     }
    }
   }
  }
  .glyphicon {
    display: inline-block;
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 34px;
    width: 86px;
    &:hover{
      color:red;
    }
   }
 }