body{
  margin: 0 auto;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}
a{text-decoration: none;}
.wrapper{
  width: 1170px;
  margin: 0 auto;
}
.main_proekt{
  background: url(../img/main.jpg) top center no-repeat;
.opu_s{
  margin-top: 140px;
.posit_ion{
    right: 280px;
    position: relative;
 }
 .Save{
    background: #a01e00 none repeat scroll 0 0;
    border-bottom: 5px solid #c12703;
    border-radius: 6px;
    border-top: 5px solid #c12703;
    color: #fff;
    font-size: inherit;
    font-weight: bold;
    height: 50px;
    width: 270px;
    float: left;
    margin: 26px 0 22px 65px;
 }
.lini_a{
    width: 852px;
    height: 9px;
    margin-top: 40px;
    background: #121212;
}
.hr_2p{
  margin-top: 37px;
}
  button{
    background: #a01e00 none repeat scroll 0 0;
    border-bottom: 5px solid #c12703;
    border-radius: 6px;
    border-top: 5px solid #c12703;
    color: #fff;
    float: right;
    font-size: inherit;
    font-weight: bold;
    height: 50px;
    width: 270px;
}
.you_tobe{
  float: left;
  margin-top: 15px;
  padding-right: 15px;
}
.proek_t{
  font-weight: bold;
  font-size: 15px;
  color: red;
  margin-top: 17px;
  padding: 0 5px;
span{
   font-size: 13px;
   color: #424242;
}
.shestte_r{
    font-size: 18px;
    padding: 0px 110px;
    top: 3px;
    color: #de2b01;
  }
}
.bloc_k{
    height: 57px;
    margin-top: 115px;
    background: #ebebeb;
    border: 1px #fff solid;
}
.text_p{
    color: #444444;
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
}
.text_span{
  color: black;
  font-weight: bold;
  font-size: 17px;
    }
.iva_n{
  font-weight: bold;
  font-size: 20px;
  color: black;
 }
.avto_r{
  color: #444444;
  font-size: 16px;
 }
.data_span{
  color: #c72600;
  font-weight: bold;
 }
}
.profil_e{
  margin-top: 140px;
  cursor: pointer;
.line{
    border: 1px dashed #afb0b1;
    width: 270px;
    top: 5px;
    position: relative;
}
.hove_r{
  color: #d57e70;
}
 .balan_s{
  height:55px;
  width: 270px;
  background: #c72600;
p{
  font-size: 17px;
  color: #fff;
  margin: 0;
  padding: 14px;
}
.histor_y{
   margin: 0 40px;
   font-size: 19px;
   color: #000;
   width: 100%;
       &:hover{
      color:red;
    }
}
.panel-body {
  padding: 0px; 
}
 .two{
 width: 240px;
}
.panel-group{
  margin-top: 50px;
  a{
    text-decoration: none;
  }
.panel-body{
   a{
        color: #606161;
  }
}
.panel-default {
    border-color: #bababa;
   }
    
.panel-default > .panel-heading {
    background-color: black;
    color: #fff;
   }
}
.dec_o{
  color: black;
}
.to_p{
  top: 48px;
}
button{
    background: black none repeat scroll 0 0;
    border: 2px solid #000000;
    float: right;
    height: 55px;
    width: 58px;
    margin-top: -52px;
    &:hover{
    background:green;
     }
    }
   }
  }
  .glyphicon {
    display: inline-block;
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 34px;
    width: 86px;
    &:hover{
      color:red;
    }

   }
 }
