.main_rules {
  background-size: cover;
  margin-top: 56px;
  height: 920px;
}
.main_rules .zag_main_rules {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.main_rules .zag_main_rules h1 {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
}
.main_rules .zag_main_rules small {
  color: #696969;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
}
.main_rules .rules_in {
  padding: 40px 30px;
  height: 590px;
  border: 1px solid #cdcdcd;
  opacity: 0.8;
}
.main_rules .rules_in .bor_right_rules {
  border-right: 1px solid silver;
}
.main_rules .rules_in h3 {
  color: #b11907;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}
.main_rules .rules_in h4 {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}
.main_rules .rules_in p {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.main_rules .rules_in hr {
  border-top: 2px solid silver;
  margin: 0 -30px 25px -30px;
}
.main_rules .rules_in a {
  color: #0b83a6;
}
.main_rules .rules_in button {
  width: 270px;
  height: 46px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(245, 187, 29, 0.5), inset 0 0 250px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  border: 1px solid #f5380c;
  background-color: #c72600;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 55%, rgba(255, 255, 255, 0.2) 100%);
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 700;
  line-height: 33px;
  text-transform: uppercase;
  margin-top: -10px;
}
