.main_search {
  background-image: url(../img/images/background_popular.png);
  background-size: cover;
}
.main_search .breadcrumb {
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 700;
  line-height: 74px;
  text-transform: uppercase;
  margin-top: 57px;
  background: none;
}
.main_search .breadcrumb a {
  color: #000000;
}
.main_search .breadcrumb .active {
  color: #c72600;
}
.main_search .how_many_search_request {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding: 10px 0;
  height: 40px;
  margin-top: 20px;
  color: #343434;
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 700;
}
.main_search .search_request {
  border-bottom: 30px solid;
  -moz-border-image: url(../img/images/double_shadow.png) 0 0 30 0 stretch stretch;
  -webkit-border-image: url(../img/images/double_shadow.png) 0 0 30 0 stretch stretch;
  -o-border-image: url(../img/images/double_shadow.png) 0 0 30 0 stretch stretch;
  border-image: url(../img/images/double_shadow.png) 0 0 30 0 stretch stretch;
  margin-bottom: 20px;
  height: 310px;
}
.main_search .search_request .search_request_in {
  border-top: 8px solid black;
  background-color: #f4f4f4;
  height: 280px;
  margin-top: 85px;
}
.main_search .search_request .search_request_in:first-child {
  margin-top: 0;
}
.main_search .search_request .search_request_in span {
  color: #444444;
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  font-family: "Segoe UI";
}
.main_search .search_request .search_request_in span a {
  color: #0b83a6;
  font-size: 14px;
  font-weight: 400;
  line-height: 74px;
  text-decoration: underline;
}
.main_search .search_request .search_request_in p {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
.main_search .search_request .search_request_in h2 {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  text-transform: uppercase;
}
.main_search .search_request .search_request_in .autor {
  margin-bottom: 20px;
}
.main_search .search_request .search_request_in img {
  padding: 30px 20px;
}
.main_search .search_request .search_request_in i {
  font-size: 20px;
}
.main_search .search_request .search_request_in .city_of_autor {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: underline;
}
.main_search .search_request .search_request_in .city_of_autor .city_of_autor_point {
  text-decoration: none;
}
.main_search .search_request .search_request_in .progres_bar_menu {
  width: 48%;
  height: 120px;
  margin: 20px 0px 0 -10px;
  margin-top: 20px;
  border: 1px solid #f9f9f9;
  width: 65%;
}
.main_search .search_request .search_request_in .progres_bar_menu .progres_bg {
  height: 32px;
  background-color: #ebebeb;
  margin: 1px;
  width: 48.3%;
  padding: 10px 0 10px;
}
.main_search .search_request .search_request_in .progres_bar_menu .progress {
  height: 10px;
}
.main_search .search_request .search_request_in .progres_bar_menu .info_bar .how_many {
  width: 24%;
  margin-right: 1%;
  background-color: #ebebeb;
  margin: 1px;
}
.main_search .search_request .search_request_in .progres_bar_menu .info_bar .how_many:last-child {
  margin-right: 0;
}
.main_search .search_request .search_request_in .progres_bar_menu .info_bar .how_many p {
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.main_search .search_request .search_request_in .progres_bar_menu .info_bar .how_many span {
  text-align: center;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.main_search .search_request .search_request_in .progres_bar_menu .info_bar .how_many_1 p {
  color: #139b13;
}
.main_search .search_request .search_request_in .progres_bar_menu .info_bar .how_many_1 span {
  margin-left: 45%;
  color: #139b13;
}
.main_search .search_request .search_request_in .progres_bar_menu .info_bar .how_many_2 p {
  color: #696969;
}
.main_search .search_request .search_request_in .progres_bar_menu .info_bar .how_many_2 span {
  margin-left: 30%;
  color: #000000;
}
.main_search .search_request .search_request_in .progres_bar_menu .info_bar .how_many_3 {
  margin-top: -33px;
  height: 72px;
  line-height: 35px;
  padding-top: 10px;
}
.main_search .search_request .search_request_in .progres_bar_menu .info_bar .how_many_3 p {
  color: #000000;
}
.main_search .search_request .search_request_in .progres_bar_menu .info_bar .how_many_3 span {
  margin-left: 25%;
  color: #000000;
}
.main_search .search_request .search_request_in .progres_bar_menu .info_bar .how_many_4 {
  margin-top: -33px;
  height: 72px;
  line-height: 35px;
  padding-top: 10px;
}
.main_search .search_request .search_request_in .progres_bar_menu .info_bar .how_many_4 p {
  color: #d7230c;
}
.main_search .search_request .search_request_in .progres_bar_menu .info_bar .how_many_4 span {
  margin-left: 45%;
  color: #b72300;
}
.main_search .right_menu {
  margin-top: 85px;
  padding-right: 0;
}
.main_search .right_menu .right_menu_search form input {
  width: 100%;
  height: 39px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.38);
  border: 1px solid #ffffff;
  background-color: #e7e7e7;
  padding: 10px;
}
.main_search .right_menu .right_menu_search form i {
  float: right;
  position: relative;
  bottom: -25px;
  color: #000;
  right: 10px;
}
.main_search .right_menu .favorites {
  height: 41px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75), inset 0 1px 2px #ffffff;
  background-color: rgba(199, 38, 0, 0);
  background-image: linear-gradient(to top, #c41f0c 0%, #930f00 100%);
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 13px;
  font-weight: 400;
  line-height: 45px;
  margin-top: 28px;
}
.main_search .right_menu .favorites i {
  margin: 0 15px;
  font-size: 18px;
}
.main_search .right_menu .li_right_menu {
  padding-left: 0;
  list-style: none;
}
.main_search .right_menu .li_right_menu li {
  background-color: rgba(236, 236, 236, 0.54);
  color: #3d3d3d;
  font-family: "Segoe UI";
  font-size: 13px;
  font-weight: 400;
  margin: 2px;
}
.main_search .right_menu .li_right_menu li ul {
  display: none;
  list-style: none;
  color: #3d3d3d;
  font-family: "Segoe UI";
}
.main_search .right_menu .li_right_menu li:hover > ul {
  display: block;
  color: #3d3d3d;
  font-family: "Segoe UI";
}
.main_search .right_menu .li_right_menu li img {
  margin: 0 5px;
}
.main_search .right_menu .li_right_menu li a {
  color: #3d3d3d;
  line-height: 25px;
}
.main_search .right_menu .li_right_menu li:hover a {
  color: #3d3d3d;
}
.main_search .right_menu_2 {
  margin-top: 0;
}
