body {
  margin: 0 auto;
}
a {
  text-decoration: none;
}
hr {
  margin-bottom: 0;
  width: 845px;
  margin-top: 14px;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
}
.main_settings {
  background: url(../img/main.jpg) top center no-repeat;
  height: 1278px;
}
.main_settings .opu_s {
  margin-top: 140px;
}
.main_settings .opu_s .sea_v {
  height: 50px;
  width: 270px;
  background: #b52300;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #c12703;
  border-top: #d76b0f 2px solid;
  border-radius: 5px;
  margin-left: 60px;
  margin-top: 6px;
  font-size: 25px;
}
.main_settings .opu_s .leff_t {
  width: 809px;
  float: left;
  margin-top: -13px;
}
.main_settings .opu_s .doba_v {
  width: 170px;
  height: 39px;
  position: relative;
  bottom: 40px;
  left: 642px;
  color: #fff;
  background: #000;
  border: 1px;
  font-size: 20px;
}
.main_settings .opu_s .inp_clas {
  height: 41px;
  width: 470px;
  background: #e7e7e7;
  border: 1px solid #dddddd;
  padding: 0 17px;
  position: relative;
  left: 40px;
}
.main_settings .opu_s .pomo_shh {
  font-size: 10px;
  margin-left: 146px;
  color: #bfbfbf;
  position: relative;
  bottom: 47px;
  cursor: pointer;
}
.main_settings .opu_s .pers_adr {
  width: 110px;
}
.main_settings .opu_s .inp_clainp {
  height: 41px;
  width: 470px;
  background: #e7e7e7;
  border: 1px solid #dddddd;
  padding: 0 17px;
  bottom: 41px;
  position: relative;
  left: 145px;
}
.main_settings .opu_s .bi_o {
  position: relative;
  bottom: 69px;
}
.main_settings .opu_s .are_a {
  height: 167px;
  width: 470px;
  background: #e7e7e7;
  border: 1px solid #dddddd;
  padding: 0 17px;
  position: relative;
  left: 34px;
}
.main_settings .opu_s .data_inp {
  width: 149px;
  height: 41px;
  background: #e7e7e7;
  border: 1px solid #dddddd;
  padding: 0 17px;
  color: darkgrey;
  cursor: pointer;
  position: relative;
  left: 9px;
  margin: 0 8px 0 0;
}
.main_settings .opu_s .inp_on_e {
  height: 41px;
  width: 470px;
  background: #e7e7e7;
  border: 1px solid #dddddd;
  padding: 0 17px;
  color: darkgrey;
  position: relative;
  left: 19px;
  cursor: pointer;
}
.main_settings .opu_s .inp_select {
  height: 41px;
  width: 470px;
  background: #e7e7e7;
  border: 1px solid #dddddd;
  padding: 0 17px;
  color: darkgrey;
  position: relative;
  cursor: pointer;
  left: 70px;
}
.main_settings .opu_s .w_p {
  width: 177px;
  position: relative;
  right: 28px;
  top: 22px;
  font-size: 12px;
}
.main_settings .opu_s .donlo_w {
  position: relative;
  top: 20px;
  left: 9px;
  font-size: 21px;
  text-decoration: underline;
}
.main_settings .opu_s .im_g_avat {
  width: 170px;
  height: 171px;
  position: relative;
  right: 31px;
  border: 5px solid #ebebeb;
  top: 22px;
}
.main_settings .opu_s .otmen_a {
  background: #ebebeb;
  color: #000;
  height: 39px;
  width: 170px;
  font-size: 22px;
  border: 1px;
  margin-top: 15px;
}
.main_settings .opu_s .to_p {
  margin-top: 40px;
}
.main_settings .opu_s .otpravk_a {
  background: #a61504;
  color: #fff;
  height: 39px;
  width: 170px;
  font-size: 22px;
  border: 1px;
  border-top: 1px #e41a00 solid;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
  right: 19px;
}
.main_settings .opu_s .tab_hr {
  margin-top: 40px;
}
.main_settings .opu_s .name_spa {
  margin: 0 115px 0 0;
}
.main_settings .opu_s .nam_spa {
  margin: 0 83px 0 0;
}
.main_settings .opu_s .nom_spa {
  margin: 0 30px 0 0;
}
.main_settings .opu_s .inp_cla {
  height: 41px;
  width: 470px;
  background: #e7e7e7;
  border: 1px solid #dddddd;
  padding: 0 17px;
}
.main_settings .opu_s .pomo_sh {
  font-size: 10px;
  margin-left: 146px;
  color: #bfbfbf;
}
.main_settings .opu_s .nav-tabs > li.active > a,
.main_settings .opu_s .nav-tabs > li.active > a:focus,
.main_settings .opu_s .nav-tabs > li.active > a:hover {
  color: #de2b01;
  cursor: pointer;
  background-color: #121212;
  border: 1px solid #ddd;
  border-radius: 6px;
  border-bottom-color: transparent;
  font-weight: bold;
  font-size: 17px;
}
.main_settings .opu_s .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 7px 7px 0 0;
  background: #ebebeb;
  color: #000;
  font-size: 15px;
  margin: 0 14px;
  border-bottom: 0px solid rgba(0, 0, 0, 0);
}
.main_settings .opu_s .nav-tabs {
  border-bottom: 6px solid #000;
}
.main_settings .opu_s .tab_s {
  width: 830px;
}
.main_settings .opu_s .proekt_butt {
  background: #a01e00 none repeat scroll 0 0;
  border-bottom: 5px solid #c12703;
  border-radius: 6px;
  border-top: 5px solid #c12703;
  color: #fff;
  float: right;
  font-size: inherit;
  font-weight: bold;
  height: 50px;
  width: 270px;
}
.main_settings .opu_s .iva_n {
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.main_settings .opu_s .avto_r {
  color: #444444;
  font-size: 16px;
}
.main_settings .opu_s .data_span {
  color: #c72600;
  font-weight: bold;
}
.main_settings .profil_e {
  margin-top: 140px;
  cursor: pointer;
}
.main_settings .profil_e .line {
  border: 1px dashed #afb0b1;
  width: 270px;
  top: 5px;
  position: relative;
}
.main_settings .profil_e .hove_r {
  color: #d57e70;
}
.main_settings .profil_e .balan_s {
  height: 55px;
  width: 270px;
  background: #c72600;
}
.main_settings .profil_e .balan_s p {
  font-size: 17px;
  color: #fff;
  margin: 0;
  padding: 14px;
}
.main_settings .profil_e .balan_s .histor_y {
  margin: 0 40px;
  font-size: 19px;
  color: #000;
  width: 100%;
}
.main_settings .profil_e .balan_s .histor_y:hover {
  color: red;
}
.main_settings .profil_e .balan_s .panel-body {
  padding: 0px;
}
.main_settings .profil_e .balan_s .two {
  width: 240px;
}
.main_settings .profil_e .balan_s .panel-group {
  margin-top: 50px;
}
.main_settings .profil_e .balan_s .panel-group a {
  text-decoration: none;
}
.main_settings .profil_e .balan_s .panel-group .panel-body a {
  color: #606161;
}
.main_settings .profil_e .balan_s .panel-group .panel-default {
  border-color: #bababa;
}
.main_settings .profil_e .balan_s .panel-group .panel-default > .panel-heading {
  background-color: black;
  color: #fff;
}
.main_settings .profil_e .balan_s .dec_o {
  color: black;
}
.main_settings .profil_e .balan_s .to_p {
  top: 48px;
}
.main_settings .profil_e .balan_s button {
  background: black none repeat scroll 0 0;
  border: 2px solid #000000;
  float: right;
  height: 55px;
  width: 58px;
  margin-top: -52px;
}
.main_settings .profil_e .balan_s button:hover {
  background: green;
}
.main_settings .glyphicon {
  display: inline-block;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  top: 34px;
  width: 86px;
}
.main_settings .glyphicon:hover {
  color: red;
}
