
.weight{
  font-weight: 900;
}

.red{
  color: #c72600 !important;
}
.upcres{
  text-transform: uppercase;
}
.full{
  width: 100%;
}
.bd_15{
  padding-left: 15px;
}
.main_fag_rules{
  .container{
    margin-top: 80px;
     .h3{
    font-family: "SegoeUIBold";
    color: black;
    font-weight: 700;
  }
  .h4{
    font-family: "SegoeUIBold";
    font-weight: 600;
    color: black;
  }
  	.otst_left{
  		margin-left: 15px;
  	}
   
    .otst_top_40{
      margin-top: 35px;
    }


      }
    }
     