
.weight{
  font-weight: 500;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border: none;
}
.nav-tabs>li>a{
  border:none;
}
.bg{
  background: #ebebeb;
  border:1px solid white;
}
.textundrlain{
  border-bottom:1px solid #9b9b9b;
}
.progress{
  height: 6px;
  margin: 13px 0;
}
.upcres{
  text-transform: uppercase;
}
.red{
  color: #b11907 !important;
}
.black{
  color: black !important;
}
.paddingsp1{
  padding: 17px 0 16px;
}

.full{
  width: 100%;
}
.bd_15{
  padding-left: 15px;
}
.main_zadachi{
  .container{
    .row{
   .content{
    .nav-tabs{margin-bottom: 35px;
      border-bottom: 6px solid black;
      li{
        margin-bottom: 0px;
        a[href="#profile"] {
          margin-left: 30px;
          }
       
        a{
          color: black;
         background: #ebebeb;
         borger:1px solid black !important;
         width: 270px;
         padding: 20px;
         span{
          position: relative;
          &:before{
            content: "";
            background: url(../img/notepad_03.png);
            width:27px;
            height: 27px;
            display:inline-block;
            position: absolute;
            left: -30px;
            top:-5px;
          }
         }
         &:hover{
           border:none !important;
          outline: none;
         }
         }

      }
      .active{
        a{ position: relative;
          borger:none;
        background: black;
        color: red;
         &:after{
        content: "";
        border: 20px solid transparent; 
        border-top: 20px solid black;
        position: absolute;
        bottom: -45px;
        left: 43%;
        }
       }
        
      }
    }
    .tab-content{
      .puntir{
        height: 5px;
        background: url(../img/border.jpg);
      }
      form{
        .test{
            li {
    list-style-type: none; 
     input{

     }
   }
        }
        .btn{background: #ab2100;
          border: 2px  solid #ff4114;
          border-right: none;
          border-left: none;
          color:white;
          text-transform: uppercase;
          font-size: 14px;
        }
      }
    }
    
      .hr_top{
      border-top: 1px solid black !important;
      margin:10px 0 27px;
     
    }
     }
   }
  }
}  