 .carousel{
    .carousel-inner{
      .item{
        .carousel-caption{
          padding-bottom: 70px;
          button{
            width: 370px;
            height: 63px;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(245, 187, 29, 0.5), inset 0 0 250px rgba(0, 0, 0, 0.09);
            border-radius: 6px;
            border: 1px solid #f5380c;
            border-bottom: 5px solid #f5380c;
            background-color: #c72600;
            border-radius: 6px;
            color: #ffffff;
            font-family: "Segoe UI";
            font-size: 22px;
            font-weight: 700;
            line-height: 50px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .main{
    background-color: #fff;
    padding-top: 20px;
    .container{
      .nav{
        border: none;
        .active>a{
          border: none; 
          width: 270px;
          height: 60px;
          background-color: #000000;
          &::after, &::before {
            content: '';
            position: absolute;
            background: #000000;
            left: 20px; bottom: -10px;
            width: 20px; height: 20px;
            box-shadow: 0 0 7px #000; /* Добавляем тень для уголка */
            z-index: -1; /* Прячем за основным блоком */
            transform: rotate(45deg); /* Поворачиваем на 45º */
            -webkit-transform: rotate(45deg);
           }
           &::before {
            z-index: 1; /* Накладываем поверх, чтобы скрыть следы тени */
            box-shadow: none; /* Прячем тень */
           }
        }
        div{
          width: 270px;
          height: 91px;
          border-bottom: 1px solid black;
        }
        li{
          margin: 0;
          border-bottom: 1px solid red;
          padding-right: 25px;
          a{
           width: 270px;
           height: 60px;
           background-color: #e4e4e4; 
           margin-bottom: 30px;
          }
        }
      }
      .tab-content{
        .tab-pane{
          img{
            margin-top: 20px;
          }
          h2{
            color: #b72300;
            font-family: "Segoe UI";
            font-size: 19px;
            font-weight: 700;
            line-height: 74px;
            text-transform: uppercase;
            padding-left: 20px;
            width: 50%;
            }
          p{
            color: #000000;
            font-family: "Segoe UI";
            font-size: 14px;
            font-weight: 400;
            line-height: 23px;
            margin-left: 51.7%;
          }
          div{
            font-family: "Segoe UI";
            font-size: 14px;
            line-height: 40px;
            color: #929292;
            font-weight: 400;
            img{
                margin-top: 0;
                margin-left: 20px;
            }
            .Naked_girl{
              margin-top: 20px;
              margin-left: 0;
            }
            span{
            color: #000000;
            font-weight: 700;
            text-transform: uppercase;
            }
            a{
              color: #0b83a6;
              font-weight: 400;
              text-decoration: underline;
              span{
                color: #b72300;
                font-weight: 400;
              }
            }
          }
          .progres_bar_menu{
            width: 48%;
            height: 120px;
            border: 1px solid #f9f9f9;
            background-color: #fefefe;
            margin-left: 20px;
            padding: 0 15px;
            margin-top: 20px;
            .progress{
              height: 10px;
              margin-top: 20px;
            }
            .info_bar{
              .how_many{
                width: 24%;
                margin-right: 1%;
                &:last-child{
                  margin-right: 0;
                }
                p{
                  color: #919191;
                  font-family: "Segoe UI";
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 25px;
                  text-transform: uppercase;
                  text-align: center;
                  margin: 0;
                  background-color: #f8f8f8;
                }
                span{
                  text-align: center;
                }
              }
              .how_many_1{
                span{
                  margin-left: 45%;
                  color: #919191;
                  font-family: "Segoe UI";
                  font-size: 14px;
                  font-weight: 700;
                  text-transform: uppercase;
                }
              }
              .how_many_2{
                span{
                  margin-left: 30%;
                  color: #0b83a6;
                  font-family: "Segoe UI";
                  font-size: 14px;
                  font-weight: 700;
                  text-transform: uppercase;
                }
              }
              .how_many_3{
                span{
                  margin-left: 30%;
                  color: #b72300;
                  font-family: "Segoe UI";
                  font-size: 14px;
                  font-weight: 700;
                  text-transform: uppercase;
                }
              }
              .how_many_4{
                span{
                  margin-left: 45%;
                  color: #919191;
                  font-family: "Segoe UI";
                  font-size: 14px;
                  font-weight: 700;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
    .red_bg{
      margin-top: 40px;
      background: url(../img/images/red-background.png);
      height: 700px;
      width: 100%;
      .row{
      	margin: 0;	
      }
      .carousel{
      	top: -30px;
      }
      .carousel-caption{
      	left: 7.5% !important;
		right: 0 !important;
		width: 85%;
		text-align: left;
		padding-bottom: 45px !important;
		
      }
      .carousel-control{
      	width: 10%;
      }
      .carousel-inner{
      	.item{
      		.red_background{
      			opacity: 0;
      			height: 570px;
	   	  }
      	}
      }
      h2{
        color: #ffffff;
        font-family: "Segoe UI";
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
      }
      .thumbnail{
        height: 485px;
        border-top: 10px solid #121212;
        border-radius: 0;
        .img_shadow{
        	padding-top: 2px;
        }
        .caption{
          h3{
            color: #000000;
            font-family: "Segoe UI";
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            text-transform: uppercase;
            margin-top: 5px;
          }
          p{
            color: #444444;
            font-size: 12px;
            font-weight: 700;
            line-height: 21px;
            a{
              color: #0b83a6;
              font-size: 14px;
              font-weight: 400;
              text-decoration: underline;
            }
            span{
              color: #000000;
              font-family: "Segoe UI";
              font-size: 12px;
              font-weight: 700;
            }
            i{
              font-size: 25px;
              margin-right: 10px;
            }
          }
          .progres_bar_menu{
            border: 1px solid #f9f9f9;
            background-color: #fefefe;
            padding: 0 5px;
            width: 100%;
            .progress{
              height: 6px;
              margin-top: 5px;
              margin-bottom: 5px;
            }
            .info_bar{
              .how_many{
                width: 33%;
                &:last-child{
                  margin-right: 0;
                }
                span{
                  text-align: center;
                }
                p{
                  font-family: "Segoe UI";
                  font-size: 12px;
                  text-transform: uppercase;
                }
              }
              .how_many_1{
                span{
                  margin-left: 25%;
                  color: #919191;
                  font-family: "Segoe UI";
                  font-size: 14px;
                  font-weight: 700;
                  text-transform: uppercase;
                }
                p{
                  color: #696969;
                }
              }
              .how_many_2{
                span{
                  margin-left: 10%;
                  color: #0b83a6;
                  font-family: "Segoe UI";
                  font-size: 14px;
                  font-weight: 700;
                  text-transform: uppercase;
                }
                p{
                  color: #139b13;
                }
              }
              .how_many_3{
                span{
                  margin-left: 15%;
                  color: #b72300;
                  font-family: "Segoe UI";
                  font-size: 14px;
                  font-weight: 700;
                  text-transform: uppercase;
                }
                p{
                  color: #d7230c;
                }
              }
            }
        }
      }
    }
  }
}
.successful{
      height: 1450px;
      width: 100%;
      background: url(../img/images/bg_shesterni.png);
      background-size: cover;
      .row{
      	margin: 0;	
      }
      .carousel{
      	top: -30px;
      }
      .carousel-caption{
      	left: 7.5% !important;
		right: 0 !important;
		width: 85%;
		text-align: left;
		padding-bottom: 57px !important;
      }
      .carousel-control{
      	width: 10%;
      	background-image: none;
      }
      .carousel-inner{
      	.item{
      		.red_background{
      			opacity: 0;
      			height: 1120px;
      		}
      	}
      }
      h2{
        color: #000000;
		font-family: "Segoe UI";
		font-size: 36px;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 50px;
        margin-top: 0;
      }
      .thumbnail{
      height: 505px;
      margin-bottom: 5px;
      border-radius: 0;
    	margin-top: 25px;
        border-top: 10px solid #121212;
        border-radius: 0;
        .img_shadow{
        	padding-top: 4px;
        }
        .caption{
          h3{
            color: #000000;
            font-family: "Segoe UI";
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            text-transform: uppercase;
            margin-top: 5px;
          }
          p{
            color: #444444;
            font-size: 12px;
            font-weight: 700;
            line-height: 21px;
            a{
              color: #0b83a6;
              font-size: 14px;
              font-weight: 400;
              text-decoration: underline;
            }
            span{
              color: #000000;
              font-family: "Segoe UI";
              font-size: 12px;
              font-weight: 700;
            }
            i{
              font-size: 25px;
              margin-right: 10px;
            }
          }
          .progres_bar_menu{
            border: 1px solid #f9f9f9;
            background-color: #fefefe;
            padding: 0 5px;
            width: 100%;
            .linear_gradient{
   				height: 32px;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75), inset 0 1px 2px #ffffff;
				background-color: rgba(235, 235, 235, 0);
				background-image: linear-gradient(to top, #c41f0c 0%, #930f00 100%);
				padding-top: 3%;
				text-align: center;
				p{
					color: #ffffff;
					font-family: "Segoe UI";
					font-size: 12px;
					font-weight: 700;
					line-height: 21px;
				}
            }
            .info_bar{
            	width: 100%;
              .how_many{
                width: 33%;
                &:last-child{
                  margin-right: 0;
                }
                span{
                  text-align: center;
                }
                p{
                  font-family: "Segoe UI";
                  font-size: 12px;
                  text-transform: uppercase;
                }
              }
              .how_many_1{
                span{
                  margin-left: 15%;
                  color: #919191;
                  font-family: "Segoe UI";
                  font-size: 14px;
                  font-weight: 700;
                  text-transform: uppercase;
                }
                p{
                  color: #696969;
                }
              }
              .how_many_2{
                span{
                  color: #139b13;
                  font-family: "Segoe UI";
                  font-size: 14px;
                  font-weight: 700;
                  text-transform: uppercase;
                }
                p{
                  color: #139b13;
                }
              }
              .how_many_3{
                span{
                  margin-right: 2%;
                  color: #b72300;
                  font-family: "Segoe UI";
                  font-size: 14px;
                  font-weight: 700;
                  text-transform: uppercase;
                }
                p{
                  color: #d7230c;
                }
              }
            }
        }
      }
    }
    .our_partner{
		h3{
	      color: #000000;
	      font-family: "Segoe UI";
	      font-size: 12px;
	      font-weight: 700;
	      line-height: 15px;
	      text-transform: uppercase;
	      margin-top: 5px;
	    }
	    .our_partner_nth{
	    	height: 69px;
			border: 3px solid #808080;
			background-color: rgba(247, 246, 246, 0);
			margin-right: 10px;
			.first_3{
				padding: 20px 2px;
			}
			.last_3{
				padding: 5px 5px;
			}
	    }
  }
}