
.weight{
  font-weight: 900;
}
 .beffore{
   &:before{
     content:"";
     margin-bottom: -3px;
      height: 20px;
       width: 20px;
      margin-right: 2px;
      display: inline-block; 
  }
 }
 .beffore_0{
  &:before{
   background: url(../img/faq_vopros.png) no-repeat  ;
   background-size: contain;
   }
 }
 .beffore_0_activ{
  &:before{
   background: url(../img/vopros_ackt.png) no-repeat  ;
   background-size: contain;
   }
 }
 
 .beffore_1{
   &:before{
   background: url(../img/skoolhelp.png) no-repeat  ;
   background-size: contain;
   }
 }

 .beffore_2{
   &:before{
   background: url(../img/voskl.png) no-repeat  ;
   background-size: contain;
   }
 }
   .beffore_2_activ{
   &:before{
   background: url(../img/voskl_ackt.png) no-repeat  ;
   background-size: contain;
   }
 }
  .beffore_3{
   &:before{
   background: url(../img/plansh.png) no-repeat  ;
   background-size: contain;
   }
 }
.obwod{
  border: 1px solid black;
  padding: 3px 8px;
 border-radius: 13px;
}
.cirkl{
  border: 1px solid black;
  padding: 3px 8px;
 border-radius: 13px;
 color: black;
}
.red{
  color: #c72600 !important;
}
.upcres{
  text-transform: uppercase;
}
.full{
  width: 100%;
}
.bd_15{
  padding-left: 15px;
}


.main_fag_rules ,.main_faq {
  .container{
    .left_menu_border{
      a{
        background: none;
      }
      border-right: 1px solid #e2e2e3;
       .left_menu{

        padding-left: 0px;
          width: 98%;
        .dropdown-menu{
          margin-top: 20px;
         overflow: hidden;
         position: static;
         float: none;
         background: none;
         border:none;
         box-shadow:none;
         .vid_block{
          text-align: center;
          background: black;
           color: white !important;
           padding: 7px;
           position: relative;
           margin-bottom: 20px;
           border: none;
           &:hover{
            border:none;
            padding-left: 7px;
           }
           &:after{
            content: "";
            position: absolute;
             border: 6px solid transparent;
            border-top: 13px solid #000;
            bottom: -18px;
            left:47%;

           }
         }
          li{

       a{
        color: #656566;
        border-bottom: 1px dotted #656566;
        padding-left: 0px;
      }
        &:hover a{
          border-bottom: 1px dotted #c72600;
          padding-left: 10px;
          color: #c72600;
        }
      }
        }
     
    &>li{ 
        &:hover li a{
        background: none;

     }
       a{ margin-bottom: 10px;
        
        .elment_spiska
        { margin-top: 8px;
          color: black !important;
        }
      }
      width: 100% !important;
      &>a{
        width: 100% ;
        text-align: left ;

      }
    }
  }
    }
  }
}  