  @font-face {
      font-family: "SegoeUIBold";
      src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
      src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
      url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
      url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }

.weight{
  font-weight: 900;
}
.obwod{
  border: 1px solid #c72600 !important; 
}
.cirkl{
  border: 1px solid black;
  padding: 3px 8px;
 border-radius: 13px;
 color: black;
}
.red{
  color: #c72600 !important;
}
.upcres{
  text-transform: uppercase;
}
.full{
  width: 100%;
}
.bd_15{
  padding-left: 15px;
}
.main_faq{
  margin-top:80px;
  .container{
   .cont{
    .form{
      border: 1px solid #ddd;
      background: #e7e7e7;
      margin-top: 8px;
      padding: 8px;
      input{
        border:none;
        background: #e7e7e7;
        color: #afafaf;
        width: 91%;
        &:focus{
          outline: none;
          color: black;
        }
      }
    }
    .h3{
    font-family: "SegoeUIBold";
    color: black;
    font-weight: 700;
  }
  .h4{
    font-family: "SegoeUIBold";
    font-weight: 600;
    color: black;
  }
    .otst_top_45{
      margin-top: 45px;
    }
    hr{
      height: 2px;
      color: black;
      background: black;
    }
    .faq{
      padding-left: 0px;
      li{ list-style: none;
        line-height: 3;

        a{position: relative;
          margin-left: 35px;
          text-decoration: underline;
          &:hover{
            text-decoration:none;
          }
          &:before{
            top: -5px;
             content:"";
               position: absolute;
                height: 24px;
                width: 24px;
                display: block; 
                background: url(../img/faq_vopros.png) no-repeat;
          }
        }
      }
    }
    .answer{
      margin: 20px 0;
      border: 1px dotted #afafaf;
      padding: 10px;
      .questions{
        position: relative;
         padding-left: 35px;
        &:before{
            top: -3px;
            left: 3px;
             content:"";
               position: absolute;
                height: 24px;
                width: 24px;
                display: block; 
                background: url(../img/faq_vopros.png) no-repeat;
          }
      }
      .title_answer{
        position: relative;
         padding-left: 35px;
         padding-top: 8px;
         color: #696969;
        &:before{
            top: -6px;
            left: 13px;
             content:"";
               position: absolute;
                height: 24px;
                width: 18px;
                display: block; 
                border-left: 2px solid black;
                border-bottom: 2px solid black;
          }
          p{ padding-left: 35px;
            padding-bottom: 10px;
            position: relative;
            &:before{
              z-index: 999;
              top: -3px;
            left: 0px;
             content:"";
               position: absolute;
                height:100%;
                width:100%;
                display: block; 
                background: url(../img/maseg.png) no-repeat;
              
            }
          }
      }
    }
   }
  }
}  