.weight{
  font-weight: 900;
}
.img-responsive{
  display: inline-block;
}
.bg{
  background: #ebebeb;
  border:1px solid white;
}
.textundrlain{
  border-bottom:1px solid #9b9b9b;
}
.progress{
  height: 6px;
  margin: 13px 0;
}
.upcres{
  text-transform: uppercase;
}
.paddingsp1{
  padding: 17px 0 16px;
}

.full{
  width: 100%;
}
.bd_15{
  padding-left: 15px;
}
.main_sponsor{
  .container{
   .block_1{
   
    border-top: 10px solid black;
  
    .block_1_bottom{background: #f4f4f4;
      position: relative;
      padding-bottom: 17px;
         &:after{
      overflow: visible;
    content:"";
    width: 100%;
    height: 6px;
    background:  url(../img/borderbotom.png) ;
   position: absolute;
    bottom: -6px;
    left: 0px;
      }
    .col-md-4{
      img{
        margin-top: 15px;
      }
     }
    }
   }
  }
 }  