
body{
  margin: 0 auto;
}
.wrapper{
  width: 1230px;
  margin: 0 auto;
  text-align: center;
}
.main_vhod_registr{
  margin: 0 auto;
  background: #500600 url(../img/fon.jpg)no-repeat top center;
  height: 500px;
.bg1{
    margin-top: 166px;
    margin-left: 5px;
 }
 .tab-content{
    background: #fff;
    height: 200px;
    width: 370px;
.otpra_v{
    height: 51px;
    width: 335px;
    background: #b52300;
    color: #f5f5f5;
    font-size: 24px;
    border-bottom: 6px solid #d44524;
    border-top: #ec7c1c 4px solid;
    border-radius: 5px;
}
.checkbox{
    float: left;
}
#profile{
.f_k{
      margin: 10px 0 20px 0;
}
.form-horizontal{
    height: 360px;
    background: #fff;
}
#inputEmail3{
    margin-top: 20px;
}
.form-control {
    display: block;
    width: 335px;
    height: 38px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #9f9f9f;
    background-color: #e7e7e7;
    background-image: none;
    border: 1px solid #dddddd;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
}
.form-horizontal .form-group {
     margin-right: 0; 
     margin-left: 0; 
    padding: 2px 0 0 5px;
}
.reg_1{
  color: #000;
  border-bottom: 1px solid;
}
.reg_2{
  color: #8f9cbe;
}
.f_k{
  width: 337px;
  height:40px;
  border-radius: 5px;
  background: #3b5998;
  color: #fff;
  font-size: 20px;
  margin: 20px 0 20px 0;
  img{
        width: 17px;
   }
  }
.v_k{
  width: 337px;
  height:40px;
  background: #4d76a0;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  margin: 0 0 35px 0;
img{
      width: 39px;
  }
}
 }
 .nav-tabs {
    border-bottom: none; 
    width: 370px;
    font-size: 21px;
 }
 .nav-tabs>li>a {
    margin-right: 0;
    line-height: 1.42857143;
    border: none;
    border-radius: 8px 7px 0px 0;
    width: 185px;
    background: #c7c6c6;
    color: #000;
    background: linear-gradient(to right, #d1d1d1 , #f5f5f5 , #f4f4f4 );
 }
 .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #de2b01;
    cursor: pointer;
    background: #000;
    border-bottom-color: rgb(255, 255, 255);
    width: 185px;
    border: none;
    border-bottom-color: none;
 }
}